.stApp{
    padding-top: 10px;
}
.stMarkdown, .stTextInput, .stSelectBox, .stButton {
    margin-bottom: 5px;
    margin-top: 5px;
}

.stSlider, .stCheckbox {
    margin-bottom: 5px;
}

.stDataFrame {
    margin-bottom: 10px;
}
